@import "../../shared.scss";

.modal {
  
    position: absolute;
    top: 5%;
    left: 50%;
    margin: auto;
    color: white;
    display: flex;
    transform: translateX(-50%);
    z-index: 200;
    // align-items: center;
}

.youtube{
    z-index: 200;
}

// @media(max-width: 1030px){
//     .iframe{
//         width: 700px;
//         margin: auto;
//     }

// }
    
// @media(max-width: 700px){
// .iframe{
//     width: 400px;
// }
// }
