@import "../../shared.scss";

.modal {
  
    position: absolute;
    top: 5%;
    left: 50%;
    border: solid white;
    margin: auto;
    color: white;
    display: flex;
    transform: translateX(-50%);
    // align-items: center;
}