@import "../../shared.scss";

.navbar {
    background-image: $navImage;
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 20px;
    height: 60px;
    z-index: 100;

    h1{
        color: $brandColor;
        margin: 0;
    }

    a{
        padding: 0 10px;
        color: white;
        text-decoration: none;
    }

    ul{
        list-style: none;
        display: flex;
    }
}


.arrow{
    transition: transform 0.3s;
}

.profile:hover .MuiSvgIcon-root{
    animation: spin-animation 0.3s ease-in-out;
}

.profile{
    display: flex;
}

.left {
    display: flex;
}

.icons{
    display: flex;
}

.nav-dark{
    background: black;
 
}

@keyframes spin-animation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }
// navbar color
// linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);